body{
    background-color: #DFBC4E;
    vertical-align: none;
}

#content{
    width: 1000px;
}

#contentImg{
    display: inline-block;
    height: 500px;
}

#image{
    display: block;
    height: 500px;
}

#contentText{
    display:inline-block;
    width: 400px;
    height: 500px;
}

#contentTitle{
    background-color: black;
    color: #DFBC4E;
    width: 360px;
    height: 60px;
    padding: 20px 20px;
}

#mainTitle{
    font-size: 30px;
}

#review{
    font-size: 20px;
    font-weight: 700;
}

#contentDescription{
    height: 360px;
    padding: 20px 20px;
    overflow: scroll;
}

#introduction{
    font-size: 16px;
}